* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  background-image: radial-gradient(#e4d1d1 0.75px, transparent 0.75px),
    radial-gradient(#e4d1d1 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

header {
  width: 100%;
  height: 100px;
  background-color: #e4d1d1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo #snow {
  width: 80px;
  margin-left: 20px;
}

.search-bar .search-input {
  width: 500px;
  height: 50px;
  background-color: transparent;
  background-color: white;
  border: none;
  border-radius: 20px;
  text-align: center;
  outline: none;
  position: relative;
  transition: 0.4s;
  color: rgb(187, 141, 141);
  font-size: 14px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.search-input:focus {
  transition: 0.4s;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-button {
  width: 40px;
  height: 36px;
  background: transparent;
  border: none;
  text-align: center;
  color: rgb(151, 98, 98);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  position: absolute;
  right: 15px;
  outline: none;
  top: 30px;
}

aside .menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #b9b0b0;
  left: -300px;
  transition: 0.3s;
}

.active {
  left: 0 !important;
}

.active2 {
  display: block !important;
}

ul li {
  padding: 20px 20px;
  border-bottom: 1px solid #ffff;
  transition: 0.3s;
}

ul li:hover {
  background-color: #948f8f;
}

ul li a {
  color: #ffff;
  font-size: 18px;
  text-decoration: none;
  padding-left: 35px;
}

.menu-button {
  padding: 12px;
  position: absolute;
  font-size: 30px;
  background-color: #b9b0b0;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
}

form {
  margin-top: 50px;
  padding: 30px;
  margin-left: 400px;
  width: 500px;
  height: 350px;
  display: none;
  background-color: #e4d1d1;
  color: rgb(95, 92, 92);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.mleft2 {
  margin-left: 0 !important;
}

.mleft3 {
  margin-left: 400px !important;
}

form .active {
  display: block;
}

label {
  font-size: 20px;
}

input {
  width: 300px;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #d9ecd0;
  background-color: #f1faec;
  transition: 0.3s;
  color: rgb(151, 98, 98);
  font-size: 14px;
}

input:focus {
  background-color: #f5eded;
  outline: none;
}

#submit {
  margin: 0 auto;
  width: 200px;
  height: 40px;
  cursor: pointer;
  background-color: #b3bead;
  color: #ffff;
  font-size: 15px;
}

#submit:hover {
  background-color: #bdb6b9;
}

.cards {
  margin-top: 50px;
  padding: 30px;
  position: relative;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.mleft {
  margin-left: 350px !important;
}

.box {
  background: rgb(234, 250, 242);
  background: linear-gradient(
    315deg,
    rgba(234, 250, 242, 1) 0%,
    rgba(228, 209, 209, 1) 76%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: #ffff;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  color: rgb(95, 92, 92);
  width: 250px;
  height: 400px;
  margin: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:hover {
  transform: scale(1.08);
}

.btn {
  width: 120px;
  height: 45px;
  background-color: #c0bcc2;
  border: 1px solid rgb(212, 208, 214);
  border-radius: 20px;
  color: #ffff;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .search-input {
    position: relative;
    width: 100%;
  }

  .search-button {
    position: absolute;
    top: 95px;
  }

  .menu {
    z-index: 999;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }

  .menu-button {
    margin-top: 50px;
    z-index: 1000;
  }

  form {
    margin-left: 0;
    width: 100%;
  }
  .cards {
    position: relative;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
